a.bx--header__menu-item[role='menuitem']:hover{
    background-color: #008BBF;
}

.bx--header{
    background-color:#002B51;
}

.cpylogodiv {
    max-height: 43px;
    max-width: 50px;
    //background-color: white;
}

img.cpylogo {
    max-width: 100%;
    max-height: 100%;
}